.battery {
    width: 150px;
    height: 40px;
    background-color: #ddd;
    position: relative;

    border: 2px solid #333; 
    margin: 10px;
}

.battery::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #4CAF50;
}

.battery::after {
    content: '';
    position: absolute;
    top: 10px;
    left: calc(100% + 1px);
    width: 5px;
    height: calc(100% - 20px);
    background-color: #333;
    border-radius: 2px;
}

.low::before {
    width: 20%; 
    background-color: #f44336; 
}

.medium::before {
    width: 60%; 
    background-color: #c3f50d; 
}